<?xml version="1.0" ?>
<launch>


	<arg name="sensor_topic"	value="/ft_classifier"/>
	<arg name="action_topic" 	default="lwr_peg_link"/>

	<!-- launch FT sensor -->
	<include file="$(find netft_rdt_driver)/launch/ft_sensor.launch">
		<arg  name="rate" 	 value="100"/>	
		<arg  name="frame_id"    value="lwr_peg_link"/>
	</include>

	<!-- launch python ft sensor -->
	<include file="$(find ft_sensor_python)/launch/ft_sensor.launch"/>

	<!-- launch peg sensor -->
	<include file="$(find peg_sensor)/launch/peg_sensor.launch"/>

	<!-- launch particle filter -->
	<include file="$(find peg_filter)/launch/peg_particle_filter.launch">
		<arg name="sensor_topic" 	value="$(arg sensor_topic)"/>
		<arg name="action_topic" 	value="$(arg action_topic)"/>
	</include>

</launch>
