<?xml version="1.0" ?>
<launch>

  <!--    ROBOT -->

  <arg name="default-starting-config"   default="1"/>
  <arg name="urdf-name"		  	default="kuka_lwr_peg.xacro"/>
  <arg name="urdf-path" 	  	default="$(find kuka_lwr_description)/robots/$(arg urdf-name)"/>

  <!-- some global variable -->
  <param name="/use_sim_time" value="false"/>

  <!-- load up urdf to the parameter server -->

  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg urdf-path)'" />

  <!-- start loopback controller manager -->
  <rosparam param="/pr2_controller_manager/joint_state_publish_rate">250.0</rosparam> <!-- in [Hz], default: 100.0 -->
  
  <!-- conditionally upload start configuration of PR2 to parameter server -->
  <group if="$(arg default-starting-config)">
  	<!--rosparam command="load" file="$(find kuka_lwr_bringup)/config/lwr_start_config.yaml" ns="loopback_controllers"/--> 
  	<rosparam command="load" file="$(find peg_hole_kuka)/config/lwr_kuka_config.yaml" ns="loopback_controllers"/> 
  </group>
   
  <node name="loopback_controllers" type="loopback_controller_manager" pkg="loopback_controller_manager" output="screen">
  	<!-- for perfect sim: chose p=m/dt with damping=0 -->
       <param name="dt" value="0.004" /> <!-- in [s], default: 0.01 -->
       <param name="damping" value="0.0" /> <!-- default: 0.1 -->
       <param name="mass" value="0.01" /> <!-- default: 0.1 -->
  </node>
  

  <!-- Bremen Velocity Controllers -->
  <include file="$(find kuka_lwr_bringup)/launch/lwr_sim_vel_controllers.launch"/>
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="log" />
  
  <!-- Upload Kinect-Robot Base Calibrated Transform -->
  <include file="$(find kuka_lwr_bringup)/launch/upload_frames4calibration.launch"/>
  <include file="$(find kuka_lwr_bringup)/launch/world_to_camera_tf_broadcaster_good.launch"/>


  <!--    STATE TRANSFORMERS -->

   <include file="$(find state_transformers)/launch/joint_to_cart.launch">
	 <arg name="robot_name" 	value="KUKA_LASA_PEG"/>
  	 <arg name="ee_link" 	    	value="TOOL"/>
   </include> 

   <include file="$(find state_transformers)/launch/cart_to_joint.launch">
  	<arg name="robot_name"    	value="KUKA_LASA_PEG"	/>
  	<arg name="ee_link" 	  	value="TOOL"		/>
  	<arg name="use_boxy"      	value="true"		/>
   </include>


  <!--    ENVIRONMENT -->


  <!-- arg -->
  <arg name="gui" 		default="False" />
  <arg name="world_frame" 	value="/world_frame"/>
  <arg name="socket_type" 	default="table_sw_one"/>
  <arg name="table_urdf" 	value="'$(find peg_in_hole)/urdf/One/table_sw_one.urdf'" />

  <!-- table socket -->
  <include file="$(find peg_in_hole)/launch/table/$(arg socket_type).launch">
	  	<arg name="use_rviz" 			value="False"/>
		<arg name="origin"   			value="-0.8 0 0.5"/>
		<arg name="orientation"			value="0 0 0 1"/>
		<arg name="load_saved"			value="False"/>	
		<arg name="use_vision_broadcaster" 	value="False"/>
		<arg name="use_broadcaster" 		value="True"/> 
  </include> 


  <!-- launch particle filter -->
  <!--include file="$(find peg_filter)/launch/plug_particle_filter.launch"/-->

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find peg_hole_kuka)/launch/rviz/peg_hole_kuka.rviz"  required="true" />


</launch>
