<?xml version="1.0" ?>
<launch>

  <!-- Set Robot model/rviz configuration path-->

  <arg name="urdf-robot" 	default="peg_lwr_robot.urdf.xacro"/>
  <arg name="controllers" 	default="joint_controllers"/>
  <arg name="start_controller"	default="joint_controllers"/>

  <include file="$(find kuka_fri_bridge)/launch/fri_bridge.launch">
	<arg name="controller_file" 	value="$(find peg_lwr_robot)/config/controllers.yaml"/>
	<arg name="hw_interface_file"   value="$(find peg_lwr_robot)/config/hw_interface.yaml"/>
	<arg name="joint_limit_file"    value="$(find peg_lwr_robot)/config/t1_joint_limits.yaml"/>
	<arg name="fri_driver_file"     value="$(find peg_lwr_robot)/config/980241-FRI-Driver.init"/>
	<arg name="robot_urdf_file" 	value="$(find peg_lwr_robot)/robot/$(arg urdf-robot)"/>
	<arg name="load-rviz"		value="False"/>
	<arg name="controllers"		value="$(arg controllers)"/>
  	<arg name="start_controller"	value="$(arg start_controller)"/>
  </include>

  <!--    ENVIRONMENT -->

  <!-- arg -->
  <arg name="world_frame" 	value="world_frame"/>
  <arg name="socket_type" 	default="table_sw_one"/>
  <arg name="table_urdf" 	value="'$(find peg_in_hole)/urdf/One/table_sw_one.urdf'" />

  <!-- table socket -->
  <include file="$(find peg_in_hole)/launch/table/$(arg socket_type).launch">
	  	<arg name="use_rviz" 			value="False"/>
		<arg name="origin"   			value="-0.78944 0.056018 0.34136"/>
		<arg name="orientation"			value="0 0 0 1"/>
		<arg name="load_saved"			value="False"/>	
		<arg name="use_vision_broadcaster" 	value="False"/>
		<arg name="use_broadcaster" 		value="True"/> 
  </include> 

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find peg_hole_kuka)/launch/rviz/peg_hole_kuka.rviz"  required="true" />


</launch>
