<?xml version="1.0" ?>
<launch>


  <!-- Set Robot model/rviz configuration path-->
  <arg name="urdf-name"                   value="kuka_lwr_peg.xacro"/>
  <arg name="load-rviz"                   value="false"/>
  <arg name="rviz-config-path"            value="$(find kuka_lwr_bringup)/rviz-config/lwr-rviz-config.rviz"/>

  <!-- Load KUKA Realtime visualization -->
  <include file="$(find kuka_lwr_bringup)/launch/lwr_realtime.launch">
  <!-- Override Argument to desired robot model -->
    <arg name="urdf-name"                   value="$(arg urdf-name)"/>
    <arg name="load-rviz"                   value="$(arg load-rviz)"/>
    <arg name="rviz-config-path"            value="$(arg rviz-config-path)"/>
  </include>
  
  <!-- Overriding parameter values -->
  <!-- NAME OF YOUR ROBOT (/Robots/KUKA_LASA_ROLLER)-->
  <arg name="robot_name"                      value="KUKA_LASA_PEG"   />
  <!-- NAME OF YOUR TOOL (/Robots/KUKA_LASA_ROLLER)-->
  <arg name="ee_link"                         value="TOOL"      />  
  <!-- THIS PARAMETER SHOULD BE SET TO TRUE FOR SIMULATION -->
  <arg name="simulation_mode"                 value="false"    />    
  <!-- THIS PARAMETER SHOULD BE SET TO TRUE FOR SIMULATION -->
  <arg name="use_boxy"                        value="false"/>    
  <!-- NAME OF Output topic -->
  <arg name="output_joints_topic"             value="/KUKA/joint_imp_cmd"   />     


  <!-- START JOINT STATE TO CARTESIAN TRANSFORMER-->
  <!--  Robot cartesian state estimator. Estimates end effector pose and force/torques from the joint angles/torques-->
  <include file="$(find state_transformers)/launch/joint_to_cart.launch">
  	<arg name="robot_name"                value="$(arg robot_name)"   />
        <arg name="ee_link"                   value="$(arg ee_link)"      />  
        <arg name="simulation_mode"           value="$(arg simulation_mode)"    />  
  </include>

  <!-- START CARTESIAN COMMAND TO JOINT STATE TRANSFORMER-->
  <!-- Controller for converting cartesian velocities to joint velocities.
  <include file="$(find state_transformers)/launch/cart_vel_to_joint_vel.launch">
  	<arg name="robot_name"                value="$(arg robot_name)"   />
        <arg name="ee_link"                   value="$(arg ee_link)"      /> 
        <arg name="use_boxy"                  value="$(arg use_boxy)"/>  
        <arg name="output_joints_topic"       value="$(arg output_joints_topic)"   />         
   </include>    -->

   <!-- START CARTESIAN COMMAND TO JOINT STATE TRANSFORMER-->
   <include file="$(find state_transformers)/launch/state_transformers.launch">
	   <arg name="robot_name"                value="$(arg robot_name)"   />
           <arg name="ee_link"                   value="$(arg ee_link)"      /> 
           <arg name="use_boxy"                  value="$(arg use_boxy)"/>  
           <arg name="output_joints_topic"       value="$(arg output_joints_topic)"   />  
   </include>      


  <!--    ENVIRONMENT -->

  <!-- arg -->
  <arg name="gui" 		default="False" />
  <arg name="world_frame" 	value="world_frame"/>
  <arg name="socket_type" 	default="table_sw_one"/>
  <arg name="table_urdf" 	value="'$(find peg_in_hole)/urdf/One/table_sw_one.urdf'" />

  <!-- table socket -->
  <include file="$(find peg_in_hole)/launch/table/$(arg socket_type).launch">
	  	<arg name="use_rviz" 			value="False"/>
		<arg name="origin"   			value="-0.84875 0.034115 0.33551"/>
		<arg name="orientation"			value="0 0 0 1"/>
		<arg name="load_saved"			value="False"/>	
		<arg name="use_vision_broadcaster" 	value="False"/>
		<arg name="use_broadcaster" 		value="True"/> 
  </include> 


  <!-- launch particle filter -->
  <!--include file="$(find peg_filter)/launch/plug_particle_filter.launch"/-->

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find peg_hole_kuka)/launch/rviz/peg_hole_kuka.rviz"  required="true" />


</launch>
