<?xml version="1.0" ?>
<launch>

  <!-- Set Robot model/rviz configuration path-->

  <arg name="urdf-robot" 	default="peg_lwr_robot.urdf.xacro"/>
  <arg name="controllers" 	default="joint_controllers"/>
  <arg name="start_controller"	default="joint_controllers"/>

  <include file="$(find lwr_fri)/launch/lwr_fri.launch">
	<arg name="controller_file" 	value="$(find peg_lwr_robot)/config/controllers.yaml"/>
	<arg name="hw_interface_file"   value="$(find peg_lwr_robot)/config/hw_interface.yaml"/>
	<arg name="joint_limit_file"    value="$(find peg_lwr_robot)/config/t1_joint_limits.yaml"/>
	<arg name="fri_driver_file"     value="$(find peg_lwr_robot)/config/980241-FRI-Driver.init"/>
	<arg name="robot_urdf_file" 	value="$(find peg_lwr_robot)/robot/$(arg urdf-robot)"/>
	<arg name="load-rviz"		value="False"/>
	<arg name="controllers"		value="$(arg controllers)"/>
  	<arg name="start_controller"	value="$(arg start_controller)"/>
  </include>




</launch>
