<?xml version="1.0" ?>
<launch>


<!--
  <arg name="default-starting-config" default="1"/>
  <arg name="urdf-name"		  	default="kuka_lwr_peg.xacro"/>
  <arg name="urdf-path" 	  	default="$(find kuka_lwr_description)/robots/$(arg urdf-name)"/>

  <param name="/use_sim_time" value="false"/>


  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg urdf-path)'" />
  


  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="log" />


  <include file="$(find kuka_lwr_bringup)/launch/calibration/upload_frames4calibration.launch"/>
  <include file="$(find kuka_lwr_bringup)/launch/calibration/world_to_camera_tf_broadcaster_good.launch"/>

 -->
  <!--    ROBOT -->


  <!--    STATE TRANSFORMERS -->

	<!--include file="$(find state_transformers)/launch/joint_to_cart_lasa_pour_tool.launch"/>
	<include file="$(find state_transformers)/launch/cart_to_joint_lasa_pour_tool.launch"/-->

   <include file="$(find state_transformers)/launch/joint_to_cart.launch">
	 <arg name="robot_name" 	value="KUKA_LASA_PEG"/>
  	 <arg name="ee_link" 	    	value="TOOL"/>
  	 <arg name="joint_to_cart_type" value="joint_to_cart_pour_tool"/>

   </include> 

   <include file="$(find state_transformers)/launch/cart_to_joint.launch">
  	<arg name="robot_name"    	value="KUKA_LASA_PEG"		 />
  	<arg name="ee_link" 	  	value="TOOL"		         />
  	<arg name="use_boxy"      	value="false"			 />
        <arg name="cart_to_joint_type"  value="cart_to_joint_pour_tool"	 />
        <arg name="output_joints_topic" value="/KUKA/joint_imp_cmd"	 />	
   </include>


  <!--    ENVIRONMENT -->


  <!-- arg -->
  <arg name="gui" 		default="False" />
  <arg name="world_frame" 	value="world_frame"/>
  <arg name="socket_type" 	default="table_sw_one"/>
  <arg name="table_urdf" 	value="'$(find peg_in_hole)/urdf/One/table_sw_one.urdf'" />

  <!-- table socket -->
  <include file="$(find peg_in_hole)/launch/table/$(arg socket_type).launch">
	  	<arg name="use_rviz" 			value="False"/>
		<arg name="origin"   			value="-0.82083 -0.048192 0.33936"/>
		<arg name="orientation"			value="0 0 0 1"/>
		<arg name="load_saved"			value="False"/>	
		<arg name="use_vision_broadcaster" 	value="False"/>
		<arg name="use_broadcaster" 		value="True"/> 
  </include> 


  <!-- launch particle filter -->
  <!--include file="$(find peg_filter)/launch/plug_particle_filter.launch"/-->

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find peg_hole_kuka)/launch/rviz/peg_hole_kuka.rviz"  required="true" />


</launch>
