<?xml version="1.0" ?>
<launch>

 <!-- LAUNCH SIMULATION-->
 <include file="$(find lwr_launch)/launch/simulation.launch">
	<arg name="robot_name" 			value="peg_lwr_robot"/>
	<arg name="robot_path" 			value="$(find peg_lwr_robot)/robot"/>
 	<arg name="rviz_config"       		value="$(find peg_lwr_launch)/launch/rviz/rviz_config.rviz"/>
   	<arg name="controllers" 		value="joint_controllers"/>
 	<arg name="t1_limits" 	      		value="false"/>
	<arg name="hw_interface_file" 		value="$(find peg_lwr_robot)/config/hw_interface.yaml"/>
	<arg name="controller_config_file"	value="$(find peg_lwr_robot)/config/controllers.yaml"/>
	<arg name="gazebo_world_file"		value="$(find peg_lwr_robot)/worlds/simple_environment.world"/>	
	<arg name="t1_limits_file"		value="$(find peg_lwr_robot)/config/t1_joint_limits.yaml"/>
 </include>

  <!--    ENVIRONMENT -->
  <!-- arg -->
  <!--arg name="world_frame" 	value="/world_frame"/>
  <arg name="socket_type" 	value="table_sw_one"/>
  <arg name="table_urdf" 	value="'$(find peg_in_hole)/urdf/One/table_sw_one.urdf'" /-->

  <!-- table socket -->
  <!--include file="$(find peg_in_hole)/launch/table/$(arg socket_type).launch">
	  	<arg name="use_rviz" 			value="False"/>
		<arg name="origin"   			value="-0.78945 0.056019 0.34139"/>
		<arg name="orientation"			value="0 0 0 1"/>
		<arg name="load_saved"			value="False"/>	
		<arg name="use_vision_broadcaster" 	value="False"/>
		<arg name="use_broadcaster" 		value="True"/> 
  </include--> 


</launch>
